[submodule "qtbase"]
	path = qtbase
	url = ../qtbase.git
	branch = dev
	status = essential
[submodule "qtx11extras"]
	depends = qtbase
	path = qtx11extras
	url = ../qtx11extras.git
	branch = dev
	status = ignore
[submodule "qtmacextras"]
	depends = qtbase
	path = qtmacextras
	url = ../qtmacextras.git
	branch = dev
	status = ignore
[submodule "qt5compat"]
	depends = qtbase
	path = qt5compat
	url = ../qt5compat.git
	branch = dev
	status = deprecated
